@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-image: url(img1.jpg);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: montserrat, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1rem;
    border-right: solid 3px #7387e6;
    border-left: solid 3px #7387e6;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 2px 2px 2px rgb(0 0 0);
    background: #0c0c0c3b;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-top: 2rem;
}

main input, select {
    margin-left: 30%;
}

main form input, #sex  {
    background: #ffffff;
    width: 40%;
    height: 30px;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    border: 2px solid #040B18;
    border-radius: 0.4rem;
    outline: none;
    color: #3f51b5;
    font-size: 0.9rem;
}

strong {
    margin-left: 30%;
}

.check {
    display: flex;
    margin-left: 38%;
}

input[type="checkbox"] {
    margin-top: 35px;
    margin-left: -0.1%;
    margin-right: auto;
    max-width: 50px;
    max-height: 22px;
}

.btn {
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 3rem;
    background-color: #ffffff;
}

main form button[type="submit"] {
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 1.1rem;
    transform: translete(-50%, -50%);
    border: none;
}

main form button[type="submit"]:hover {
    background: #5bbd5f;
    color: white;
}

.info {
    font-size: 1.5rem;
    background: #7387e773;
    box-shadow: 3px 3px 3px #7387e6;
    border-radius: 1rem;
    padding: 0.5rem;
}

.cadastro {
    font-size: 1.5rem;
    background: #7387e773;
    box-shadow: 3px 3px 3px #7387e6;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2rem;
}

.card {
    background: #00000063;
    box-shadow: 3px 3px 3px #7387e6;
    border-radius: 1rem;
    padding-bottom: 1rem;
    padding-top: 4rem;
    width: 90%;
    font-size: 2.2rem;
}
