*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    background-attachment: fixed;
    background-color: #ffffff;
    font-family: verdana;
    font-size: 1.1rem;
    justify-content: center;
}

h1 {
    box-shadow: 1px 1px 5px 5px rgb(165 200 236 / 46%);
    border-radius: 1rem;
    padding: 0.5rem;
    background: #82ade854;
}

fieldset {
    margin: 12rem;
    padding: 10rem;
    text-align: center;
    color: #ffffff;
    background-color: #0000004a;
    border-radius: 3rem;
    border-color: #ffffff;
    border-style: solid;
    border-top: 1rem;
    border-bottom: 1rem;
    max-width: 80%;
    flex-wrap: wrap;
}

strong {
    justify-content: center;
    text-align: center;
}

/* Ajuste das caixas login e senha */
input {
    padding: 0.3rem;
    margin-left: 0.3rem;
}

/* ajuste da caixa login */ 
#login {
    margin-left: 0.7rem;
    padding-right: 0.4rem;
}

#ent, #can {
    justify-content: center;
    transition: 0.2s ease;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    font-size: large;
    border-radius: 3rem;
}

#ent:hover, #can:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgb(118 149 226 / 75%);
}